.language-dropdown {
    margin-right: 10px;
}

.language-dropdown select {
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: transparent;
    /* border: 1px solid white; */
    border: none;
}

.select-language option {
    color: black;
}
